.idea
.vscode
.vs
bin
obj
Source\9_Resources\AssetBundles\asset_bundle.manifest
Source\9_Resources\AssetBundles\AssetBundles
Source\9_Resources\AssetBundles\AssetBundles.manifest
BeatLeader.csproj.user